* {
	font-family: Arial;
	box-sizing: border-box;
}

#top {
	height: 90px;
	background-color: #FAFAFA;
/*	border-bottom: 1px solid #ebebeb;*/
	position: relative;
}


#logoContainer {
	position: relative;
	height: 100%;
	width: 120px;
	float: left;
	margin: 0 15px;
}

#logo {
	background-image: url("img/googleLogo_SearchPage.png");
	background-size: contain;
	height: 44px;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

#searchBoxContainer {
	width: 650px;
	height: 100%;
	float: left;
	position: relative;
	padding: 0; margin: 0;
}

#searchBox {
	padding: 0; margin: 0;
	height: 3em; width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border: 1px solid #DDDDDD;
	border-radius: 0;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.16);	
	
}

input[type="text"] {
	width: 85%;
	height: 100%;
	float: left;
	border-radius: 0;
	padding: 0; margin: 0;
	padding-left: 2%;
	border: none;
}

#searchBox .iconBox {
	position: relative;
	width: 5%;
	margin-right: 2.5%;
	height: 100%;
	float: left;
}

#keyboard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.iconBox .align {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

#magnet {
	fill: #4285f4;
}

#extras {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 0px;
	margin: 0 20px;
}

#extras li {
	padding: 8px;
	float: left;
}

#extras li div#services {
	width: 17px; height: 17px;
	background-position: -138px -44px;
	background-image: url(img/googleButtons.png);
}

#extras li a {
	text-decoration: none;
}

#extras li a#loginButton {
	color: white;
	background-color: #4485F6;
	font-size: 0.8em;
	font-weight: bold;
	padding: 8px;
	border-radius: 1px;
}

#searchCategories {
	height: 30px;
	padding-left: 150px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}

#categories {
	display: inline-block;
	position: absolute;
	bottom: 13px;
}

#categories li {
	float: left;
}

#categories li a {
	color: #777;
	font-size: 0.8em;
	padding: 10px 15px;
	text-decoration: none;
	
}

#categories li a:hover {
	color: black;
	font-size: 0.8em;
	padding: 10px 15px;
	text-decoration: none;
	
}

#categories li a.active {
	color: #4285f4;
	border-bottom: 3px solid #4285f4;
	font-weight: bold;
}

#results, #pages {
	margin-left: 170px;
}

#numberOfResults {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 15px;
	color: gray;
}

.result {
	margin-bottom: 25px;
	width: 625px;

}

.text {
	font-weight: normal;
	font-size: 14px;
}

.result .header, .result .address, .video-date, .result.imagerow {
	margin-bottom: 5px;
}

.result .header a {
	text-decoration: none;
	font-size: 20px;
	color: #1a0dab;
}

.result .header a:hover  {
	text-decoration: underline;
}

.result .address {
	color: green;
	font-size: 14px;
}

.video-image {
	float: left;
	height: 66px;
	overflow: hidden;
	margin-right: 10px;
	position: relative;
}

.video-image .length {
	position: absolute;
	bottom: 0; right: 0;
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
}


/* https://css-tricks.com/snippets/css/css-triangle/ */
.triangle-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid white;
	margin-right: 2px;
	margin-top: 2px;
	float: left;

}


.video-date {
	color: gray;
}

.result.imagerow .images {
	height: 110px;
	overflow: hidden;
}

.result.imagerow img {
	float: left;
	margin-right: 5px;
	margin-top: 10px;
}
